@charset "utf-8";
/* CSS Document */


body {
    background-color: #CCC;
}

#container {

    margin:auto;
    width: 990px;
    height: auto;
    background-color: #ffffff;
    padding:20px;
    font-family: tahoma;
    overflow: hidden;
}

#header {
    float:left;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: red;

}

#nav {
    float:left;
    width: 100%;
}

#nav ul li a {
    float:left;
    margin-right:10px;
    color:white;
    padding:10px;
    text-decoration: none;
}

.page-title {
    float:left;
    width: 100%;
    font-size: 30px;
    margin-top:20px;
    border-bottom:1px solid #CCC;
}

.content {
    float:left;
    width: 100%;
    height: auto;
    margin-top:20px;
}























